<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <img img src="{{ config.ASSETS_ROOT }}/images/logo.png" style="width:100px;height:100px;">
                </div>
                <span class="b-title">Team 51 x Chicago</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Home</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Home Page</span></a>
                </li>
                       
                <li class="nav-item pcoded-menu-caption">
                    <label>Dashboards</label>
                </li>
                <li data-username="General Dashboards"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="/tableau.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-box"></i></span><span
                            class="pcoded-mtext">General Dashboards</span></a>
                </li>
                
                <li data-username="Analyst Dashboards"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="/tableau_analyst.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-box"></i></span><span
                            class="pcoded-mtext">Analyst Dashboards</span></a>
                </li>

                <li data-username=" Tableau Forecast "
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="/tableau_forecast.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-box"></i></span><span
                            class="pcoded-mtext">Tableau Forecast</span></a>
                </li>

                <li data-username=" Model Dashboards"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="/tableau_model.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-box"></i></span><span
                            class="pcoded-mtext">Model</span></a>
                </li>
                
                <li class="nav-item pcoded-menu-caption">
                    <label>Tools</label>
                </li>


                <li data-username="Chatbot"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="/chatbot.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-mic"></i></span><span
                            class="pcoded-mtext">Chatbot</span></a>
                </li>
                
                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
